/* FONTS */
@font-face {
    font-family: 'Bad Script';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/FONTS/BadScript-Regular.ttf') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Stick No Bills';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/sticknobills/v1/bWts7ffXZwHuAa9Uld-oEK4QKlxj9f9t_7uEmjcV4cQLLbKx.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}   

:root{
    font-family: 'Stick No Bills', sans-serif;
}




html, body{
    height: 100%;
    background-color: rgb(231, 231, 231);
}
/*Center*/
.name{
    font-size: 130px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.word{
    font-size: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
}


/*HEADER*/

.header{
    margin-bottom: auto!important;
}
.all{
    display: flex;
    height: 100%;
    margin-left: auto!important;
    
    -webkit-box-orient: vertical!important;
    -webkit-box-direction: normal!important;
    -ms-flex-direction: column!important;
    flex-direction: column!important;

}

.nav_bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
      
    box-shadow: 0 0 15px rgb(0 0 0 / 90%);
    background-color: rgb(132, 131, 136);
    border-bottom-color: rgb(132, 131, 136);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    justify-content: space-between;    
}

.brand_name{
    font-family: 'Bad Script', cursive;
    font-size: 1.7rem;
    padding-left: 2.5rem ;
    text-decoration:  none;
    display: inline-block;
    white-space: nowrap;
    line-height: inherit;
    color: white;
}


.nav_link_nav{
    float: right;
}
.nav_link_ul{
    text-decoration: none;
    list-style: none;
    display: flex;
    margin-bottom: .8rem;
    margin-top: .8rem;
}
  
.nav_link{
    text-decoration: none;
    display: block;
    padding: .35rem 1rem;
    margin-right: 15px;
    border-radius: .25rem;
    font-family: 'Kalam', cursive;
    font-size: 15px;
    color: white;
}
.active{
    background-color: #f1bb45;
}
.nav_link:hover{
    color: rgb(252, 52, 52);
}
/*END HEADER*/

/*Footer*/
.footer{
    margin-top: auto!important;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-bottom: 1rem;
    
}
.footer2{
    margin-left: 3rem;
    margin-right: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}
.copy{
    font-family: Arial, Helvetica, sans-serif;
    align-items: center!important;
    -webkit-box-align: center!important;
    text-align: center;

}
.ext_url{
    list-style: none;
    display: flex;
    margin-bottom: 0;
    margin-top: 0;
}
.ext_url_link{
    padding-left: .5rem!important;
}

/*END FOOTER*/