.divider {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.fontlogo{
    font-family: 'Bad Script', cursive;
}
html, body{
    height: 100%;
    background-color: rgb(231, 231, 231);
}
.name{
    font-size: 100px;
    text-align: center;

}
.word{
    font-size: 50px;
}


/*Nav bar*/

.nav_bar{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    background-color: #384149!important;
    display: flex;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
}

.brand_name{
    color: #fff;
    font-family: 'Bad Script', cursive;

    font-size: 1.25rem;

    padding-left: 2.5rem ;

    text-decoration:  none;
    display: inline-block;
    white-space: nowrap;
    line-height: inherit;

}



.nav_link_nav{
    float: right;

}
.nav_link_ul, .nav_link_li{
    text-decoration: none;
    list-style: none;
    display: flex;

}
.nav_link{
    color: antiquewhite;
    text-decoration: none;


    display: block;
    padding: .5rem 1rem;
    border-radius: .25rem;
}
