.divider {
    height: 1.5rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgb(0 0 0 / 10%), inset 0 0.125em 0.5em rgb(0 0 0 / 15%);
}

@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');

.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.fontlogo{
    font-family: 'Bad Script', cursive;
}
html, body{
    height: 100%;
    background-color: rgb(231, 231, 231);
}
.name{
    font-size: 100px;
    text-align: center;

}
.word{
    font-size: 50px;
}
